/**
 * @name gruvboxClearVision
 * @author ClearVision Team
 * @version 6.1.1
 * @description Highly customizable and beautiful theme for BetterDiscord.
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website https://clearvision.gitlab.io
 * @invite dHaSxn3
*/

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;400;500;700&display=swap');
@import url('https://clearvision.gitlab.io/v6/main.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/HorizontalServerList/dist/HorizontalServerList.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');

:root {
  --main-color: #B16286;
  --hover-color: #D3869B;
  --success-color: #8EC07C;
  --danger-color: #FB4934;
  --url-color: #83A598;
  --background-image: url('https://i.imgur.com/RrHcnWJ.jpg');
  --background-shading: 0%;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-attachment: fixed;
  --background-brightness: 100%;
  --background-contrast: 100%;
  --background-saturation: 100%;
  --background-grayscale: 0%;
  --background-invert: 0%;
  --background-blur: 0px;
  --background-overlay: rgba(0,0,0,0.6);
  --user-popout-image: url('https://i.imgur.com/TKiuizB.jpg');
  --user-popout-position: center;
  --user-popout-size: cover;
  --user-popout-repeat: no-repeat;
  --user-popout-attachment: fixed;
  --user-popout-brightness: 100%;
  --user-popout-contrast: 100%;
  --user-popout-saturation: 100%;
  --user-popout-grayscale: 0%;
  --user-popout-invert: 0%;
  --user-popout-blur: 2px;
  --user-modal-image: url('https://i.imgur.com/asjVbVO.jpg');
  --user-modal-position: center;
  --user-modal-size: cover;
  --user-modal-repeat: no-repeat;
  --user-modal-attachment: fixed;
  --user-modal-brightness: 100%;
  --user-modal-contrast: 100%;
  --user-modal-saturation: 100%;
  --user-modal-grayscale: 0%;
  --user-modal-invert: 0%;
  --user-modal-blur: 2px;
  --home-icon: url('https://clearvision.gitlab.io/icons/discord.svg');
  --home-position: center;
  --home-size: 40px;
  --channel-unread: #D3869B;
  --channel-color: rgb(235,219,178,1);
  --muted-color: rgb(168,153,132,1);
  --online-color: #43b581;
  --idle-color: #faa61a;
  --dnd-color: #982929;
  --streaming-color: #593695;
  --offline-color: #808080;
  --main-font: Whitney;
  --code-font: JetBrains Mono;
  --channels-width: 220px;
  --members-width: 210px;
  --backdrop-overlay: rgba(0,0,0,0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-brightness: var(--background-brightness);
  --backdrop-contrast: var(--background-contrast);
  --backdrop-saturation: var(--background-saturation);
  --backdrop-invert: var(--background-invert);
  --backdrop-grayscale: var(--background-grayscale);
  --backdrop-sepia: var(--background-sepia);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
  --HSL-server-icon-size: 32px;
  --HSL-server-spacing: 10px;
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 25%;
  --rs-online-color: #B8BB26;
  --rs-idle-color: #FABD2F;
  --rs-dnd-color: #FB2934;
  --rs-offline-color: #282828;
  --rs-streaming-color: #B16286;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */


